body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  .invisible {
    display: none;
  }
  #ecranAccueil,
  #conteneurQuiz,
  #ecranResultat {
    margin-top: 30px;
    padding: 20px;
  }
  #question {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 18px;
  }
  #reponses {
    list-style-type: none;
    padding: 0;
  }
  #reponses li {
    margin: 10px 0;
  }
  button {
    padding: 10px 20px;
    font-size: 1.3em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin: 5px;
  }
  button:hover {
    background-color: #0056b3;
  }
  #compteur {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
  }
  #scoreEnCours {
    font-size: 1.3em;
    margin-top: 10px;
    font-weight: bold;
  }

  #enonceRegles {
    margin-top: 80px;
    font-size: 1.3em;
    text-align: center;
  }
    
  #difficulte, label  {
     margin-top: 30px;
     font-size: 1.3em;
     text-align: center;
    }

  h1, h2 {
    font-size: 3em;
}

#scoreFinal {
    font-size: 2em;
    margin-top: 20px;
  }

#suivant{
    margin-top: 20px;
    margin-bottom: 10px;
  }
